body {
    margin: 0;
    font-family: Arial;
}

/* Navbar */
nav {
    display: flex;
    justify-content: space-between;
    background: #222;
    color: white;
    padding: 15px;
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li {
    margin: 0 10px;
}

nav a {
    color: white;
    text-decoration: none;
}

/* Hero */
.hero {
    text-align: center;
    padding: 60px;
    background: #f4f4f4;
}

button {
    padding: 10px 20px;
    background: blue;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background: darkblue;
}

/* Products */
.products {
    padding: 40px;
    text-align: center;
}

.product-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.card {
    border: 1px solid #ccc;
    padding: 15px;
    width: 200px;
}

.card img {
    width: 100%;
}

/* Footer */
footer {
    background: #222;
    color: white;
    text-align: center;
    padding: 15px;
}

/* Responsive */
@media (max-width: 600px) {
    nav ul {
        flex-direction: column;
    }

    .product-container {
        flex-direction: column;
        align-items: center;
    }
}